/* Reset */

* {
	padding: 0;
	margin: 0;
}


/* Typography */

body {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

p {
	margin-bottom: 16px;
}

blockquote {
	border-left: solid #8FA193 5px;
	padding-left: 5px;
	font-size: 15px;
	font-style: italic;
	font-family: Georgia;
}

b {
	font-variant: small-caps;
}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-size: 21px;
	line-height: 25px;
}

h5 {
	font-size: 18px;
	line-height: 20px;	
}

h6 {
	font-size: 16px;
	line-height: 18px;
}

/* Color */

a {
	color: #45594E;
	text-decoration: none;
}

a:hover {
	background-color: #F4F3DE;
	color: #3B4137;
}

.footnote {
	font-size: 8pt;
}

/* Layout */

ul {
	list-style-position: inside;
}


.header {
	width: 100%;
	background-color: #12140F;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header a {
	margin-left: 22%;	
	color: white;
	text-decoration: none;
	background-color: #12140F;
}

#sidebar {
	float: left;
	width: 17%;
	margin: 0;
	margin-right: 2%;
	background-color: #8FA193;
	padding: 10px;
}

#sidebar h3 {
	font-style: italic;
}

#search_title {
	margin-top: 20px;
}

.section {
	float: left;
	width: 75%;
	margin-left: 3%;
}

.footer {
	padding: 5px;
	padding-top: 10px;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	clear: both;
	text-align: center;
	background-color: #8FA193;
	color: #12140F;
}


.entry-title {
	margin-top: 30px;
	margin-left: 15%;
}

.entry-title a {
	text-decoration: none;
	font-weight: normal;
	background-color: #8FA193;
	color: white;
	padding: 3px;
}

.updated {
	margin-top: 10px;
}

.date {
	text-align: center;
}

.date .year, .date .month, .date .day {
	display: block;
	color: #45594E;
	font-weight: bold;
	margin-bottom:10px;
}

.date .year {
	font-size: 12pt;
}
.date .month {
	font-size: 14pt;
}
.date .day {
	font-size: 26pt;
}


.details {
	float: left;
	margin-right: 5%;
	width: 10%;
	margin-top: 5px;
	text-align: right;
}

.text {
	margin-top: 10px;
	float: left;
	width: 82%;
	text-align: justify;
	font-size: 14px;
	line-height: 16px;
}

.subpages {
	margin-top: 20px;
}

.subpages, .comments {
	clear: both;
	margin-left: 15%;
	margin-bottom: 20px;
}

.subpages li a:hover {
	color: red;
}

.subpages li {
	list-style: none;
	margin-top: 3px;
	margin-bottom: 3px;
