{% extends "base.html" %}

{% block pagetitle %}Latest Pages{% endblock %}
{% block title %}Latest Pages{% endblock %}

{% block content %}
<div class="pages_list">
	{% for object in object_list %}
	<div class="page">
		{% include "wiki/page.html" %}
	</div>
	{% endfor %}
</div>

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}" class="previous">previous</a>
		{% endif %}

		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}" class="next">next</a>
		{% endif %}
	</span><br />
</div>

{% endblock %}