{% extends "base.html" %}

{% block pagetitle %}{% if tag %}Posts tagged with: {{ tag.name }}{% else %}Latest Pages{% endif %}{% endblock %}
{% block title %}{% if tag %}Posts tagged with: {{ tag.name }}{% else %}Latest Pages{% endif %}{% endblock %}

{% block content %}
{% if top_tags %}
<div class="top_tags">
	<p>Top tags:
	{% for tag in top_tags %}
		<a href="{% url 'tag_page_list' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
	{% endfor %}
	</p>
</div>
{% endif %}

<div class="pages_list">
	{% for object in object_list %}
		{% include "wiki/page.html" %}
	{% endfor %}
</div>

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}" class="previous">previous</a>
		{% endif %}

		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}" class="next">next</a>
		{% endif %}
	</span>

</div>

{% endblock %}