{% load markup %}
{% load humanize %}
{% load pygmentation %}
{% load subpages %}
{% get_subpages object.slug %}

<!--HTML5:article-->
<div class="article hentry">
	<h3 class="entry-title"><a href="/{{object.slug}}">{{object.title}}</a></h3>
	<div class="details">

		<div class="updated date">
			<abbr title="{{object.date|date:"Y-m-d\TH:i:s+00:00"}}">
				<span class="month">{{object.date|date:"M"}}</span>
				<span class="day">{{object.date|date:"d"}}</span>
				<span class="year">{{object.date|date:"Y"}}</span>					
			</abbr>
		</div>

	</div>
	<div class="text entry-content" lang="{{object.lang.code}}">
		{% autoescape off %}
		    {{object.text|pygmentize|textile}}
		{% endautoescape %}
		
	</div>
	
	<div class="subpages">
		
		
		{% if subpages %}
			<h5>Subpages:</h5>
			<ul>
				{% for p in subpages %}
					<li>({{p.date|naturalday:"d M Y"}}) <a href="/{{p.slug}}">{{p.title}}</a></li>
				{% endfor %}
			</ul>
	
		{% endif %}
	</div>
	
</div>
<!--/HTML5:article-->