{% load humanize %}
{% load pygmentation %}
{% load subpages %}
{% get_subpages object.slug %}
{% load markup_tags %}

<article class="hentry">
	<h3 class="entry-title"><a href="/{{object.slug}}">{{object.title}}</a></h3>



	<div class="text entry-content" lang="{{object.lang.code}}">
		{% autoescape off %}
		{{object.text|apply_markup:"textile"}}
		{% endautoescape %}

	</div>


	<div class="metadata">
		{% if object.pubdate %}
		<div class="date">
			Published:
			<time pubdate class="updated date" datetime="{{object.date|date:" Y-m-d\TH:i:s+00:00"}}">
				<span class="month">{{object.date|date:"M"}}</span>
				<span class="day">{{object.date|date:"d"}}</span>,
				<span class="year">{{object.date|date:"Y"}}</span>
			</time>
		</div>
		{% endif %}

		<div class="authorinfo">
			Author: {{object.author.get_full_name}}
		</div>

		<div class="langinfo">
			Language: {{object.lang}}
		</div>


		<div class="subpages">


			{% if subpages %}
			<ul>
				{% for p in subpages %}
				<li><a href="{% url 'page_detail' p.slug %}">{{p.title}}</a></li>
				{% endfor %}
			</ul>

			{% endif %}
		</div>
	</div>
	<div class="clear"></div>
</article>
