<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Homepage{% endblock %}</title>
		
		<!-- Style -->	
		<link rel="stylesheet" href="/media/css/syntax.css" />
		
		<script src="/media/js/prototype.js" type="text/javascript" charset="utf-8"></script>
		<script src="/media/js/scriptaculous.js" type="text/javascript" charset="utf-8"></script>
		<script src="/media/js/wiki.js" type="text/javascript" charset="utf-8"></script>	
				
		<!-- Feeds -->
		<link rel="alternate" type="application/rss+xml" title="Bliki" href="/feeds/all/" />

	</head>
	<body>
		<div class="wrap_header">

			<header>
				<h1><a href="/">Bliki</a></h1>
			</header>
		</div>
		
		<div class="wrap">
			<section>
				{% block content %}{% endblock %}
			</section>
			
			<div class="clear"></div>
			
			<footer>
				{% block footer %}{% endblock %}
			</footer>
		</div>
		
	</body>
</html>