<h3>About</h3>
<div class="agent vcard author" id="hCard">
	<img class="photo" src="/media/images/alcides_small.png" alt="" /><br />
	Name: <a class="url fn uid" rel="me" href="http://alcidesfonseca.com/">Alcides Fonseca</a><br />
	Email: <a class="email" href="mailto:me@alcidesfonseca.com">me@alcidesfonseca.com</a><br />
	MSN: <a class="email" href="msnim:alcidesfonseca@msn.com">alcidesfonseca@msn.com</a><br />
	XMPP: <a class="email" href="xmpp:alcidesfonseca@gmail.com">alcidesfonseca@gmail.com</a><br />
	<div style="display:none">
		<abbr class="bday" title="1988-11-24T01:55:00Z">Nov 24, 1988</abbr>
		<span class="geo">
			<span class="latitude">40.197958</span>, 
			<span class="longitude">-8.408312</span>
		</span>
	</div>
</div>

<h3 id="search_title">Search</h3>
<div class="search_container">
	<form action="http://www.google.com/custom" method="GET">
	<input name="q" value="" />
	<input type="hidden" name="domains" value="wiki.alcidesfonseca.com" />
	<input type="hidden" name="sitesearch" value="wiki.alcidesfonseca.com" />
	<input type="hidden" name="client" value="pub-1411256716541452" />
	<input type="submit" value="Search" />
	</form>
</div>